<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Index</h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
            <label for="file">Upload</label>
            <input type="file" name="file" id = "file"/>
        </div>
        <button type="submit">Submit</button>

    </form>
    <img src="https://bolormaa-bucket-test.s3.amazonaws.com/d26e76d5-b1b1-42d0-bb2b-6f58e6359a4a/aaa.jpeg" alt="">
</body>
</html>